.app {
  text-align: center;
  background: conic-gradient(from 90deg at 50% 0%, #222, 50%, #333, #222);
  color: white;
  min-height: 100vh;
  height: 100vh;
}
.app-wrapper {
  width: 100%;
  max-width: 1200px;
  padding: 24px;
  min-height: 100%;
  height: 100%;
  margin: 0 auto;
}

.app-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

.app-link {
  color: #61dafb;
}

.app-forms-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 800px;
}

.app-form {
  color: #282c34;
  display: flex;
  flex-direction: column;
  flex: 1;
  background: conic-gradient(at 0% 0%, snow, white);
  padding: 24px;
  border-radius: 8px;
}
.app-form:first-of-type {
  margin-right: 12px;
}
.app-form:last-of-type {
  margin-left: 12px;
}

.app-form input,
.app-form select {
  padding: 8px;
  margin-bottom: 4px;
  border-radius: 4px;
  border: 2px solid #f1e5e5;
}
.app-form-submit {
  background: conic-gradient(at top right, slategray, lightgray);
  margin: 8px auto 0;
  padding: 16px;
  border-radius: 4px;
  border: 0;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: white;
  font-weight: bold;
  max-width: 200px;
  transition: all 0.2s ease-in-out;
}

.app-form-submit:not(:disabled) {
  background: conic-gradient(from -270deg at 110% 50%, cadetblue, darkgreen);
  cursor: pointer;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

.app-form-submit:hover:not(:disabled) {
  transform: rotate(1deg) scale(1.01);
}

.my-grinders-table {
  width: 100%;
}

.tables-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}
